<h1>New Book</h1>

<%= form_with model: @book do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  
    <%= form.label :author %><br>
    <%= form.text_field :author %>
    <br/>
    <%= form.file_field :cover %>
    <% @book.errors.full_messages_for(:author).each do |message| %>
      <p><%= message %></p>
    <% end %>
  

  <p>
    <%= form.submit %>
  </p>
  
<% end %>